{{>header}}
<head>
    <link rel="stylesheet" href="css/result.css">
</head>
   {{>navbar}}
   
    <div class="container mt-5">
       <h3 class="mb-3">Result</h3>
       <div >
       <h6 class="mt-1"><b>Roll Number: </b>{{student.Rollno}}</h6>
       <h6 class="mt-1"><b>Name:</b> {{student.Name}}</h6>
       <h6 class="mt-1"><b>Date Of Birth:</b> {{student.Dob}}</h6>
       <h6 class="mt-1"><b>Score:</b> {{student.Score}}</h6>
       </div>
    </div><br><br><br><br>

